<!DOCTYPE html>
<html>
	<head>

		<!-- BOOTSTRAP CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- META -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS FILES-->
		<link rel="stylesheet" href="../static/css/style_addfriend.css" type="text/css" media="all">

		<!-- FONTS-->	
		<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700,800|Oswald:300,400,700" rel="stylesheet">	
	</head>

	<body>
		<div id="main">
			<div id="header">
				

				<div id="navbar">
					
						<div id="bill">BILL</div>
						<div id="dashboard">DASHBOARD</div>	
				</div>
			</div>

			<div id="enter_email">
				<h1>Friend's EmailID</h1>
				<input id="emailid" type="text" placeholder="abc@xyz.com"></input>
			</div>

			<input type="submit" id="add_friend" value="ADD FRIEND"></input>
		</div>
	</body>
</html>