<!DOCTYPE html>
<html>
	<head>

		<!-- BOOTSTRAP CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- META -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS FILES-->
		<link rel="stylesheet" href="../static/css/style_addbill.css" type="text/css" media="all">

		<!-- FONTS-->	
		<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700,800|Oswald:300,400,700" rel="stylesheet">	
	</head>

	<body>
		<div id="main">
			<div id="header">
				

				<div id="navbar">
					
						<div id="bill">BILL</div>
						<div id="dashboard">DASHBOARD</div>	
				</div>
			</div>

			<div id="enter_amount">
				<h1>Amount</h1>
				<input id="amount" type="text" placeholder="100"></input>
				<select>
				  <option value="Rupees">Rs</option>
				  <option value="Dollar">Do</option>
				  <option value="Pound">Po</option>
				  <option value="Dinar">Di</option>
				</select>
			</div>

			<div id="enter_topic">
				<h1>Topic</h1>
				<input id="topic" type="text" placeholder="Breakfast at Tiffany's"></input>
			</div>

			<div id="members">
				<h2>Select Members</h2>
				<ol>
					<li>
						<input type="checkbox" name="friend" value="userid">Shashwat Shalvi<br>
					</li>

					<li>
						<input type="checkbox" name="friend" value="userid">Shubham Gupta<br>
					</li>

					<li>
						<input type="checkbox" name="friend" value="userid">Vidhan Jain<br>
					</li>

					<li>
						<input type="checkbox" name="friend" value="userid">Rishi Vikram<br>
					</li>

					<li>
						<input type="checkbox" name="friend" value="userid">Jeet Kanjani<br>
					</li>
				</ol>
			</div>

			<input type="file" name="pic" accept="image/*">
  			

			<input type="submit" id="create_bill" value="CREATE BILL"></input>
		</div>
	</body>
</html>