<!DOCTYPE html>
<html>
	<head>

		<!-- BOOTSTRAP CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- META -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS FILES-->
		<link rel="stylesheet" href="../static/css/style_bill.css" type="text/css" media="all">

		<!-- FONTS-->	
		<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700,800|Oswald:300,400,700" rel="stylesheet">	
	</head>

	<body>
		<div id="main">
			<div id="header">
				

				<div id="navbar">
					
						<div id="bill">BILL</div>
						<div id="dashboard">DASHBOARD</div>	
				</div>
			</div>

			<div id="sidebar">
				<button id="addbill">ADD BILL</button>
			

				<div id="groups">

					<div id="group_title">
						<h4>Groups</h4>
					</div>

					<ol >
						<li >Kebabs and curries</li>
						<li >Pool</li>
						<li >Indian Coffee House</li>
					</ol>

					<div id="add_group">Add Group +</div>
				</div>

				<hr>

				<div id="friends">
					<div id="friend_title">
						<h4>Friends</h4>
					</div>

					<ol>
						<li> Shashwat Shalvi </li>
						<li> Shubham Gupta </li>
						<li> Rishi Vikram </li>
						<li> Vidhan Jain </li>
					</ol>

					<div id="add_friend">Add Friend +
					</div>
				</div>

			</div>

			<div id="bills">
				<div id="you_owe"> You owe : </div>
				<div id="owe_amount">Rs 607 </div>

				<div id="you_r_owe"> You are owed : </div>
				<div id="owe_r_amount">Rs 607 </div>

				<div id="negative">
					<ol>
						<li>
							<h2>Prafful Mehrotra</h2>
							<h3>Rs 150</h3>
							<h4>View Details</h4>
							<input type="submit" id="settle" value="Settle"></input>
							
						</li>

						<li>
							<h2>Shashwat Shalvi</h2>
							<h3>Rs 290</h3>
							<h4>View Details</h4>
							<input type="submit" id="settle" value="Settle"></input>
							
						</li>

						<li>
							<h2>Shubham Gupta</h2>
							<h3>Rs 310</h3>
							<h4>View Details</h4>
							<input type="submit" id="settle" value="Settle"></input>
							
						</li>
					</ol>
				</div>
			</div>



		</div>
	</body>
</html>