<!DOCTYPE html>
<html>
	<head>

		<!-- BOOTSTRAP CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- META -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- CSS FILES-->
		<link rel="stylesheet" href="../static/css/style_login.css" type="text/css" media="all">

		<!-- FONTS-->	
		<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700,800|Oswald:300,400,700" rel="stylesheet">	
	</head>

	<body>
		<div id="main">
			<div id="slant_gradient"></div>

			<div id="white_card">

				<div id="logo_container">
				</div>

					<div id="paytm_signup">
						<input type="submit" id="paytm" onClick="" value="LOGIN VIA PAYTM">
						</input>
					</div>

					<h5>OR</h5>

				<div id="form">
					<form class="form-horizontal"name="login"id="login">
						<input type = "text" id="email_login" name="email"placeholder="Email">
						<br>
						<input type = "text" id="phone_login" name="phone"placeholder="Mobile">
						<br>
						<input type = "password" id="password_signup" name="password"placeholder="Password">
					</form>
						<input type="submit" value="LOGIN">	</input>				
				</div>

				
			</div>
		</div>
	</body>
</html>