@font-face{
	
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Dosis', sans-serif;
}
body{
	overflow-x: hidden;
}
#header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 10%;
	z-index: 1;
	background: #4fc195;
	background: -webkit-linear-gradient(315deg , #d8f97d, #4fc195); 
	background: linear-gradient(315deg, #d8f97d, #4fc195); 
}



#bill{
	position:relative;
	font-family: 'Open Sans';
	color: white;
	font-weight: 400;
	font-size: 21px;
	list-style: none;
	display: inline-block;
	cursor: pointer;
	position: fixed;
	top: 3%;
	left: 42%;
}

#dashboard{
	position:relative;
	font-family: 'Open Sans';
	color: white;
	font-weight: 400;
	font-size: 21px;
	list-style: none;
	display: inline-block;
	cursor: pointer;
	position: fixed;
	top: 3%;
	left: 43%;
	padding-left: 40px;
	margin-left: 40px;
}

#dashboard{
	opacity: 0.7;
}

#dashboard:hover{
	opacity: 1;
}

##enter_amount {
	right: 20%;
	position: relative;
}

#enter_amount h1{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	position: relative;
	top: 98px;
	color: #6d6d6d;
	left: 36%;
}

#enter_amount input[type=text]{
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	left: 46%;
	top: 43px;
	padding-left: 20px;
	width: 150px;
}

#enter_topic h1{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	position: relative;
	top: 98px;
	color: #6d6d6d;
	left: 36%;
}

#settag h1{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	position: relative;
	top: 98px;
	color: #6d6d6d;
	left: 36%;
}

#settag select{
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	left: 48%;
	top: 50px;
	padding-left: 10px;
	width: 90px;
	color: #adadad;
	border: 1px #adadad;
}

#settag hr,#members hr{
	width: 50%;
	top: 55px;
	position: relative;
}

#enter_topic input[type=text]{
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	left: 46%;
	top: 43px;
	padding-left: 20px;
	width: 300px;
}

#enter_amount select{
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 28px;
	left: 48%;
	top: 45px;
	padding-left: 10px;
	width: +70px;
	color: #adadad;
	border: 1px #adadad;

}
#members,#members_2{
	position: relative;
	right: 70px;
}

#members h2{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	color: #4fc195;
	left: 45%;
	top: 70px;
	position: relative;

}

#members_2 h2{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	color: #4fc195;
	left: 45%;
	position: relative;
	top: 10px;
	
	}

#members ol{
	position: relative;
	margin-top:100px; 
}

#members_2 ol{
	position: relative;
	top: 20px;
}

#members ol li,#members_2 ol li{
	list-style: none;
	position: relative;
	margin-bottom: 10px;
}

#members ol li input,#members_2 ol li input{
	margin-bottom: 10px;
	width: 300px;
}

#members ol li input[type=text],#members_2 ol li input[type=text]{
	padding-left: 10px;
}
#members ol li,#members_2 ol li{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 24px;
	color: #adadad;
	position: relative;
	left: 43%;
	margin-top: 10px;
	margin-right: 5px;

}
input[type="checkbox"] {
    margin-right: 10px;
}



#main input[type=submit]{
	border-radius: 50px;
	padding: 8px 36px 8px 36px;
	font-size: 16px;
	background: #4fc195; /* fallback for old browsers */       
	border: none;
	outline: none;
	color: white;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	left: 44%;
	position: relative;
	
	margin-bottom: 5%;
}

#main input[type=submit]:hover{
	background: #2d9169;
}

